@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        color:rgb(3, 46, 3);
        background-color: whitesmoke;
    }
}
@layer components {
    .menuLink{
        @apply cursor-pointer hover:text-[#c5c5c5];
    }
}
.title {
    background-color: bisque;
    color: rgb(3, 32, 3);
    font-size: 22px;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 0.5rem;
}


